*{
    margin: 0px;
    padding: 0px;
}

:root{

    font-family: "Dancing Script", cursive;
    font-size: 21px;
}

body{

    background-image: url(assets/bg.jpg);
    background-size: cover;

}

img{

    width: 750px;
    margin-left: 25px;
    border-radius: 20px;

}

#page{

    width: 800px;
    margin: 40px auto;
    background-color: #ffe79e;
    padding: 20px;
}

section+section{

    margin-top: 20px;
}

p{
    margin-top: 10px;
}

h1{

    margin-bottom: 20px;
}

footer{
    width: 165px;
     background-color: #ffe79e;
     margin: 10px auto;
}